$icomoon-font-path: "../fonts/as-icon/" !default;

$as-arow-down: "\e909";
$as-arow-up: "\e90a";
$as-arow-left: "\e900";
$as-arow-right: "\e901";
$as-burger: "\e902";
$as-instagram2: "\e903";
$as-linkedin: "\e904";
$as-instagram1: "\e905";
$as-youtube: "\e906";
$as-facebook: "\e907";
$as-twitter: "\e908";

