.vacancy-section {
	position: relative;
	margin-top: 70px;
	height: 450px;

	& .form-vacancy {

		& .contact-section {
			padding-top: 0;
		}

		& .contact-success {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	& .screen-step {
		color: $reg-acc;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-transform: translateY(50px);
		    -ms-transform: translateY(50px);
		        transform: translateY(50px);
		opacity: 0;
		visibility: hidden;
		transition: opacity .2s ease, visibility .2s .2s ease, -webkit-transform .2s ease;
		transition: opacity .2s ease, transform .2s ease, visibility .2s .2s ease;
		transition: opacity .2s ease, transform .2s ease, visibility .2s .2s ease, -webkit-transform .2s ease;

		& .form-el.active {
			visibility: hidden;
		}

		&.active {
			-webkit-transform: translateY(0);
			    -ms-transform: translateY(0);
			        transform: translateY(0);
			opacity: 1;
			visibility: visible;
			transition: opacity .2s .2s ease, visibility .1s ease, -webkit-transform .2s .2s ease;
			transition: opacity .2s .2s ease, transform .2s .2s ease, visibility .1s ease;
			transition: opacity .2s .2s ease, transform .2s .2s ease, visibility .1s ease, -webkit-transform .2s .2s ease;
			& .form-el.active {
				visibility: visible;
			}
		}

		& .heading {
			margin-top: 25px;
			font-weight: 100;
			font-size: $big;
			margin: 0;
		}

		& .sub-head {
			font-size: $mid;
			margin-bottom: 35px;
		}

		& .simple-text {
			font-size: $mid-1;
			margin-bottom: 0;
		}

		& .nav-sub {
			text-align: right;
			margin-bottom: 23px;
		}

		& .link-block {
			margin-top: 35px;

			& .linkto {
				font-size: $mid-1;
				color: $acc;
				display: block;
				transition: color .2s ease;
				margin-bottom: 10px;

				& span {
					position: relative;

					&:before {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						background-color: transparent;
						transition: background-color .2s ease;
					}
				}

				&:hover {
					color: $acc;
					text-decoration: none;

					& span:before {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						background-color: $acc;
					}
				}
			}
		}

		& .info-text {

			& .text-content {
				height: 385px;
				overflow: hidden;
				padding-right: 150px;
				box-sizing: border-box;

				& .heading {
					margin-bottom: 40px;
					text-align: center;
				}

				& p {
					font-size: $mid-1;
					line-height: 1.3;
					margin-bottom: 25px;
				}
			}
		}

		&.without-btn {
			& .heading {
				padding-top: 65px;
			}
		}

		&.screen-1 {
			z-index: 110;
			background-color: $bg;
		}

		&.screen-2 {
			z-index: 111;
			background-color: $bg;
		}

		&.screen-3 {
			z-index: 112;
			background-color: $bg;
		}

		&.screen-4 {
			z-index: 9999;
			background-color: $bg;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}

	& .popup-image {
		position: absolute;

		&.one {
			top: 140px;
			left: 50%;
			transform: translateX(-123%);
			& img {
				width: 430px;
			}
		}

		&.two {
			top: 205px;
			left: 50%;
			transform: translateX(27%);
			& img {
				width: 340px;
			}
		}
	}

	& .popup-window {
		position: absolute;
		top: 190px;
		left: 50%;
		transform: translateX(-30%);
		display: inline-block;
		background: transparent;
		border-radius: 20px;

		&.two {
			transform: translateX(-60%);
		}

		& .popup-content {
			position: relative;
			padding: 0;

			& .back-btn {
				position: absolute;
				bottom: 200%;
				left: 130%;
			}

			& .close-btn {
				position: absolute;
				bottom: 100%;
				left: 100%;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: $bg;
				opacity: 1;
				transition: opacity .2s ease;

				& .line-wrapper {
					position: relative;
					width: 100%;
					height: 100%;
				}

				%line {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 1px;
					height: 27px;
					background-color: #262626;
				}

				&:hover {
					opacity: 1;
					& .line-1 {
						-webkit-transform: translate(-50%, -50%) rotate(-45deg);
						    -ms-transform: translate(-50%, -50%) rotate(-45deg);
						        transform: translate(-50%, -50%) rotate(-45deg);
					}

					& .line-2 {
						-webkit-transform: translate(-50%, -50%) rotate(45deg);
						    -ms-transform: translate(-50%, -50%) rotate(45deg);
						        transform: translate(-50%, -50%) rotate(45deg);
					}
				}

				& .line-1 {
					@extend %line;
					-webkit-transform: translate(-50%, -50%) rotate(45deg);
					    -ms-transform: translate(-50%, -50%) rotate(45deg);
					        transform: translate(-50%, -50%) rotate(45deg);
					transition: -webkit-transform .5s ease;
					transition: transform .5s ease;
					transition: transform .5s ease, -webkit-transform .5s ease;
				}

				& .line-2 {
					@extend %line;
					-webkit-transform: translate(-50%, -50%) rotate(315deg);
					    -ms-transform: translate(-50%, -50%) rotate(315deg);
					        transform: translate(-50%, -50%) rotate(315deg);
					transition: -webkit-transform .5s ease;
					transition: transform .5s ease;
					transition: transform .5s ease, -webkit-transform .5s ease;
				}
			}

			& .heading {

			}

			& .sub-head {
				margin-bottom: 0;
			}
		}
	}
}