.sidebar {
	position: relative;
	z-index: 100;
}

.sidebar-heading {
	margin-bottom: 35px;
	margin-top: 100px;

	& .heading {
		font-size: $big;
		color: $reg-head;
		line-height: 1;

		&:hover {
			text-decoration: none;
		}
	}
}

$selected-btn-size: 30px;
$btn-rotating-speed: 4s;

@keyframes rotating-coin {
	0% {
		transform: translateY(-50%) rotateY(0deg);
	}

	25% {
		transform: translateY(-50%) rotateY(90deg);
	}

	50% {
		transform: translateY(-50%) rotateY(180deg);
	}

	75% {
		transform: translateY(-50%) rotateY(270deg);
	}

	100% {
		transform: translateY(-50%) rotateY(360deg);
	}
}

%rotating-btn {
	content: 'AS';
	position: absolute;
	display: block;
	width: $selected-btn-size;
	height: $selected-btn-size;
	border-radius: 50%;
	line-height: $selected-btn-size;
	right: -30px;
	top: 50%;
	transform: translateY(-50%) rotateY(0deg);
	font-size:  $mid-2;
	background-color: $bg-2;
	text-align: center;
	animation-name: rotating-coin;
	animation-duration: $btn-rotating-speed;
	animation-iteration-count: infinite;
}

.menu-sidebar-container {
	
	& .menu {
		padding: 0;
		list-style: none;
		text-align: right;

		& .menu-item {
			padding-right: 37px;
			margin-bottom: 23px;
			position: relative;

			& a {
				color: $reg;
				font-size: $mid;
				line-height: 1;
				transition: color .2s ease;
				text-decoration: none !important;

				&:hover {
					color: $reg-acc;
					outline: none;
				}
			}

			&.current-menu-item {
				
				& a {
					color: $reg-acc;
				}

				&:before {
					@extend %rotating-btn;
				}
			}
		}
	}	
}

.page-about+.col-md-12 #soc-block {
	margin-top: 120px;
}

.vacancy-page+.col-md-12 #soc-block {
	margin-top: 45px;
}

#soc-block {
	position: relative;
	z-index: 9999;

	& .img-soc {
		position: absolute;
		bottom: 100%;
		z-index: -1;
		visibility: hidden;
		transform: translateY(50px);
		opacity: 0;
		transition: opacity .2s ease, visibility .2s .2s ease, z-index .2s .2s, transform .2s ease;

		&.active {
			z-index: 999;
			visibility: visible;
			transform: translateY(0);
			opacity: 1;
			transition: opacity .2s .2s ease, visibility .2s ease, z-index .2s, transform .2s .2s ease;
		}

		&.youtube {
			left: 435px;

			& img {
				width: 320px;
			}
		}
		&.facebook {
			left: 445px;

			& img {
				width: 255px;
			}
		}
		&.vk {
			left: 385px;

			& img {
				width: 500px;
			}
		}
		&.twitter {
			left: 400px;

			& img {
				width: 380px;
			}
		}
		&.linked-in {
			left: 405px;

			& img {
				width: 405px;
			}
		}
		&.instagram {
			left: 500px;

			& img {
				width: 250px;
			}
		}
	}
}
